<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="6.3.7" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Forms9Patch" version="0.9.13.5" targetFramework="portable45-net45+win8+wpa81" developmentDependency="true" />
  <package id="MR.Gestures" version="1.4.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="PCLStorage" version="1.0.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Plugin.Share" version="5.0.0.3-beta" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Refractored.MvvmHelpers" version="1.2.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Refractored.XamForms.PullToRefresh" version="1.1.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Rg.Plugins.Popup" version="1.0.4" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Splat" version="1.6.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xam.Plugin.Media" version="2.6.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.FFImageLoading" version="2.2.8" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.2.8" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.FFImageLoading.Transformations" version="2.2.8" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="2.3.3.180" targetFramework="portable45-net45+win8+wpa81" />
</packages>